.bg-primary{
    background-color:#f0f0f0!important
}

.bg-secondary{
    background-color:#f8de00!important
}
body{
    background-color:#f0f0f0!important;
}

h1.text-black-70
{
    color: black;
}

#mainBody
{padding-top: 160pt}

.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section {
    padding: 1rem 0;
}

.nav-item-right{
    position: absolute;
    right: 10px;
    font-size: 10px;
}

.footer
{
    background-color: black;
}


.copyright
{
    background-color: #f8de00;
    color: black;
}

#lager{
        position: relative;
        top: 25px;
        }